/clover-biz-service/.settings/*.prefs
/clover-config-service/.mvn/wrapper/*.jar
/clover-springboot-parent/.settings/*.prefs
/clover-biz-service/.txlcn/*.db
*.db
*.prefs
/clover-biz-service/*.log
/clover-order-service/*.log
/clover-user-service/*.log
