<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rrx.cnuo.service.dao.UserPassportMapper">
  <resultMap id="BaseResultMap" type="rrx.cnuo.service.po.UserPassport">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="regist_tel" jdbcType="VARCHAR" property="registTel" />
    <result column="mini_open_id" jdbcType="VARCHAR" property="miniOpenId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="card_num" jdbcType="INTEGER" property="cardNum" />
    <result column="credit_fee" jdbcType="BIT" property="creditFee" />
    <result column="credit_pass" jdbcType="BIT" property="creditPass" />
    <result column="board_status" jdbcType="TINYINT" property="boardStatus" />
    <result column="price" jdbcType="TINYINT" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    uid, regist_tel, mini_open_id, nick_name, avatar_url, card_num,credit_fee, credit_pass, 
    board_status,price, create_time, update_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_passport
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  
  <select id="selectByParam" parameterType="rrx.cnuo.service.po.UserPassport" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from user_passport
    <where>
    	<if test="miniOpenId != null">
    		and mini_open_id = #{miniOpenId}
    	</if>
    	<if test="registTel != null">
    		and regist_tel = #{registTel}
    	</if>
    	<if test="miniOpenId == null and registTel == null">
    		and 1 != 1
    	</if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_passport
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertSelective" parameterType="rrx.cnuo.service.po.UserPassport">
    insert into user_passport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="registTel != null">
        regist_tel,
      </if>
      <if test="miniOpenId != null">
        mini_open_id,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="cardNum != null">
        card_num,
      </if>
      <if test="creditFee != null">
        credit_fee,
      </if>
      <if test="creditPass != null">
        credit_pass,
      </if>
      <if test="boardStatus != null">
        board_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="registTel != null">
        #{registTel,jdbcType=VARCHAR},
      </if>
      <if test="miniOpenId != null">
        #{miniOpenId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null">
        #{cardNum,jdbcType=INTEGER},
      </if>
      <if test="creditFee != null">
        #{creditFee,jdbcType=BIT},
      </if>
      <if test="creditPass != null">
        #{creditPass,jdbcType=BIT},
      </if>
      <if test="boardStatus != null">
        #{boardStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="rrx.cnuo.service.po.UserPassport">
    update user_passport
    <set>
      <if test="registTel != null">
        regist_tel = #{registTel,jdbcType=VARCHAR},
      </if>
      <if test="miniOpenId != null">
        mini_open_id = #{miniOpenId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null">
        card_num = #{cardNum,jdbcType=INTEGER},
      </if>
      <if test="creditFee != null">
        credit_fee = #{creditFee,jdbcType=BIT},
      </if>
      <if test="creditPass != null">
        credit_pass = #{creditPass,jdbcType=BIT},
      </if>
      <if test="boardStatus != null">
        board_status = #{boardStatus,jdbcType=TINYINT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>

</mapper>