<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rrx.cnuo.service.dao.UserSpouseSelectionMapper">
  <resultMap id="BaseResultMap" type="rrx.cnuo.service.po.UserSpouseSelection">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="age_bgn" jdbcType="TINYINT" property="ageBgn" />
    <result column="age_end" jdbcType="TINYINT" property="ageEnd" />
    <result column="height_bgn" jdbcType="SMALLINT" property="heightBgn" />
    <result column="height_end" jdbcType="SMALLINT" property="heightEnd" />
    <result column="figure_list" jdbcType="VARCHAR" property="figureList" />
    <result column="home_province_id_list" jdbcType="VARCHAR" property="homeProvinceIdList" />
    <result column="work_province_id_list" jdbcType="VARCHAR" property="workProvinceIdList" />
    <result column="marital_status" jdbcType="TINYINT" property="maritalStatus" />
    <result column="have_children_list" jdbcType="VARCHAR" property="haveChildrenList" />
    <result column="academic_list" jdbcType="VARCHAR" property="academicList" />
    <result column="school_type_list" jdbcType="VARCHAR" property="schoolTypeList" />
    <result column="company_type_list" jdbcType="VARCHAR" property="companyTypeList" />
    <result column="industry_type_list" jdbcType="VARCHAR" property="industryTypeList" />
    <result column="rank_type_list" jdbcType="VARCHAR" property="rankTypeList" />
    <result column="year_income_list" jdbcType="VARCHAR" property="yearIncomeList" />
    <result column="house_status_list" jdbcType="VARCHAR" property="houseStatusList" />
    <result column="car_status" jdbcType="TINYINT" property="carStatus" />
    <result column="asset_level_list" jdbcType="VARCHAR" property="assetLevelList" />
    <result column="relation_with_parents_list" jdbcType="VARCHAR" property="relationWithParentsList" />
    <result column="only_child_list" jdbcType="VARCHAR" property="onlyChildList" />
    <result column="marry_plan_list" jdbcType="VARCHAR" property="marryPlanList" />
    <result column="child_plan_list" jdbcType="VARCHAR" property="childPlanList" />
    <result column="consume_attitude_list" jdbcType="VARCHAR" property="consumeAttitudeList" />
    <result column="faith" jdbcType="TINYINT" property="faith" />
    <result column="smok_drink" jdbcType="TINYINT" property="smokDrink" />
    <result column="housework" jdbcType="TINYINT" property="housework" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, age_bgn, age_end, height_bgn, height_end, figure_list, home_province_id_list, 
    work_province_id_list, marital_status, have_children_list, academic_list, school_type_list, 
    company_type_list, industry_type_list, rank_type_list, year_income_list, house_status_list, 
    car_status, asset_level_list, relation_with_parents_list, only_child_list, marry_plan_list, 
    child_plan_list, consume_attitude_list, faith, smok_drink, housework, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_spouse_selection
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_spouse_selection
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="rrx.cnuo.service.po.UserSpouseSelection">
    insert into user_spouse_selection (uid, age_bgn, age_end, 
      height_bgn, height_end, figure_list, 
      home_province_id_list, work_province_id_list, 
      marital_status, have_children_list, academic_list, 
      school_type_list, company_type_list, industry_type_list, 
      rank_type_list, year_income_list, house_status_list, 
      car_status, asset_level_list, relation_with_parents_list, 
      only_child_list, marry_plan_list, child_plan_list, 
      consume_attitude_list, faith, smok_drink, 
      housework, create_time, update_time
      )
    values (#{uid,jdbcType=BIGINT}, #{ageBgn,jdbcType=TINYINT}, #{ageEnd,jdbcType=TINYINT}, 
      #{heightBgn,jdbcType=SMALLINT}, #{heightEnd,jdbcType=SMALLINT}, #{figureList,jdbcType=VARCHAR}, 
      #{homeProvinceIdList,jdbcType=VARCHAR}, #{workProvinceIdList,jdbcType=VARCHAR}, 
      #{maritalStatus,jdbcType=TINYINT}, #{haveChildrenList,jdbcType=VARCHAR}, #{academicList,jdbcType=VARCHAR}, 
      #{schoolTypeList,jdbcType=VARCHAR}, #{companyTypeList,jdbcType=VARCHAR}, #{industryTypeList,jdbcType=VARCHAR}, 
      #{rankTypeList,jdbcType=VARCHAR}, #{yearIncomeList,jdbcType=VARCHAR}, #{houseStatusList,jdbcType=VARCHAR}, 
      #{carStatus,jdbcType=TINYINT}, #{assetLevelList,jdbcType=VARCHAR}, #{relationWithParentsList,jdbcType=VARCHAR}, 
      #{onlyChildList,jdbcType=VARCHAR}, #{marryPlanList,jdbcType=VARCHAR}, #{childPlanList,jdbcType=VARCHAR}, 
      #{consumeAttitudeList,jdbcType=VARCHAR}, #{faith,jdbcType=TINYINT}, #{smokDrink,jdbcType=TINYINT}, 
      #{housework,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="rrx.cnuo.service.po.UserSpouseSelection">
    insert into user_spouse_selection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="ageBgn != null">
        age_bgn,
      </if>
      <if test="ageEnd != null">
        age_end,
      </if>
      <if test="heightBgn != null">
        height_bgn,
      </if>
      <if test="heightEnd != null">
        height_end,
      </if>
      <if test="figureList != null">
        figure_list,
      </if>
      <if test="homeProvinceIdList != null">
        home_province_id_list,
      </if>
      <if test="workProvinceIdList != null">
        work_province_id_list,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="haveChildrenList != null">
        have_children_list,
      </if>
      <if test="academicList != null">
        academic_list,
      </if>
      <if test="schoolTypeList != null">
        school_type_list,
      </if>
      <if test="companyTypeList != null">
        company_type_list,
      </if>
      <if test="industryTypeList != null">
        industry_type_list,
      </if>
      <if test="rankTypeList != null">
        rank_type_list,
      </if>
      <if test="yearIncomeList != null">
        year_income_list,
      </if>
      <if test="houseStatusList != null">
        house_status_list,
      </if>
      <if test="carStatus != null">
        car_status,
      </if>
      <if test="assetLevelList != null">
        asset_level_list,
      </if>
      <if test="relationWithParentsList != null">
        relation_with_parents_list,
      </if>
      <if test="onlyChildList != null">
        only_child_list,
      </if>
      <if test="marryPlanList != null">
        marry_plan_list,
      </if>
      <if test="childPlanList != null">
        child_plan_list,
      </if>
      <if test="consumeAttitudeList != null">
        consume_attitude_list,
      </if>
      <if test="faith != null">
        faith,
      </if>
      <if test="smokDrink != null">
        smok_drink,
      </if>
      <if test="housework != null">
        housework,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="ageBgn != null">
        #{ageBgn,jdbcType=TINYINT},
      </if>
      <if test="ageEnd != null">
        #{ageEnd,jdbcType=TINYINT},
      </if>
      <if test="heightBgn != null">
        #{heightBgn,jdbcType=SMALLINT},
      </if>
      <if test="heightEnd != null">
        #{heightEnd,jdbcType=SMALLINT},
      </if>
      <if test="figureList != null">
        #{figureList,jdbcType=VARCHAR},
      </if>
      <if test="homeProvinceIdList != null">
        #{homeProvinceIdList,jdbcType=VARCHAR},
      </if>
      <if test="workProvinceIdList != null">
        #{workProvinceIdList,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=TINYINT},
      </if>
      <if test="haveChildrenList != null">
        #{haveChildrenList,jdbcType=VARCHAR},
      </if>
      <if test="academicList != null">
        #{academicList,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeList != null">
        #{schoolTypeList,jdbcType=VARCHAR},
      </if>
      <if test="companyTypeList != null">
        #{companyTypeList,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeList != null">
        #{industryTypeList,jdbcType=VARCHAR},
      </if>
      <if test="rankTypeList != null">
        #{rankTypeList,jdbcType=VARCHAR},
      </if>
      <if test="yearIncomeList != null">
        #{yearIncomeList,jdbcType=VARCHAR},
      </if>
      <if test="houseStatusList != null">
        #{houseStatusList,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null">
        #{carStatus,jdbcType=TINYINT},
      </if>
      <if test="assetLevelList != null">
        #{assetLevelList,jdbcType=VARCHAR},
      </if>
      <if test="relationWithParentsList != null">
        #{relationWithParentsList,jdbcType=VARCHAR},
      </if>
      <if test="onlyChildList != null">
        #{onlyChildList,jdbcType=VARCHAR},
      </if>
      <if test="marryPlanList != null">
        #{marryPlanList,jdbcType=VARCHAR},
      </if>
      <if test="childPlanList != null">
        #{childPlanList,jdbcType=VARCHAR},
      </if>
      <if test="consumeAttitudeList != null">
        #{consumeAttitudeList,jdbcType=VARCHAR},
      </if>
      <if test="faith != null">
        #{faith,jdbcType=TINYINT},
      </if>
      <if test="smokDrink != null">
        #{smokDrink,jdbcType=TINYINT},
      </if>
      <if test="housework != null">
        #{housework,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="rrx.cnuo.service.po.UserSpouseSelection">
    update user_spouse_selection
    <set>
      <if test="ageBgn != null">
        age_bgn = #{ageBgn,jdbcType=TINYINT},
      </if>
      <if test="ageEnd != null">
        age_end = #{ageEnd,jdbcType=TINYINT},
      </if>
      <if test="heightBgn != null">
        height_bgn = #{heightBgn,jdbcType=SMALLINT},
      </if>
      <if test="heightEnd != null">
        height_end = #{heightEnd,jdbcType=SMALLINT},
      </if>
      <if test="figureList != null">
        figure_list = #{figureList,jdbcType=VARCHAR},
      </if>
      <if test="homeProvinceIdList != null">
        home_province_id_list = #{homeProvinceIdList,jdbcType=VARCHAR},
      </if>
      <if test="workProvinceIdList != null">
        work_province_id_list = #{workProvinceIdList,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=TINYINT},
      </if>
      <if test="haveChildrenList != null">
        have_children_list = #{haveChildrenList,jdbcType=VARCHAR},
      </if>
      <if test="academicList != null">
        academic_list = #{academicList,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeList != null">
        school_type_list = #{schoolTypeList,jdbcType=VARCHAR},
      </if>
      <if test="companyTypeList != null">
        company_type_list = #{companyTypeList,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeList != null">
        industry_type_list = #{industryTypeList,jdbcType=VARCHAR},
      </if>
      <if test="rankTypeList != null">
        rank_type_list = #{rankTypeList,jdbcType=VARCHAR},
      </if>
      <if test="yearIncomeList != null">
        year_income_list = #{yearIncomeList,jdbcType=VARCHAR},
      </if>
      <if test="houseStatusList != null">
        house_status_list = #{houseStatusList,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null">
        car_status = #{carStatus,jdbcType=TINYINT},
      </if>
      <if test="assetLevelList != null">
        asset_level_list = #{assetLevelList,jdbcType=VARCHAR},
      </if>
      <if test="relationWithParentsList != null">
        relation_with_parents_list = #{relationWithParentsList,jdbcType=VARCHAR},
      </if>
      <if test="onlyChildList != null">
        only_child_list = #{onlyChildList,jdbcType=VARCHAR},
      </if>
      <if test="marryPlanList != null">
        marry_plan_list = #{marryPlanList,jdbcType=VARCHAR},
      </if>
      <if test="childPlanList != null">
        child_plan_list = #{childPlanList,jdbcType=VARCHAR},
      </if>
      <if test="consumeAttitudeList != null">
        consume_attitude_list = #{consumeAttitudeList,jdbcType=VARCHAR},
      </if>
      <if test="faith != null">
        faith = #{faith,jdbcType=TINYINT},
      </if>
      <if test="smokDrink != null">
        smok_drink = #{smokDrink,jdbcType=TINYINT},
      </if>
      <if test="housework != null">
        housework = #{housework,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="rrx.cnuo.service.po.UserSpouseSelection">
    update user_spouse_selection
    set age_bgn = #{ageBgn,jdbcType=TINYINT},
      age_end = #{ageEnd,jdbcType=TINYINT},
      height_bgn = #{heightBgn,jdbcType=SMALLINT},
      height_end = #{heightEnd,jdbcType=SMALLINT},
      figure_list = #{figureList,jdbcType=VARCHAR},
      home_province_id_list = #{homeProvinceIdList,jdbcType=VARCHAR},
      work_province_id_list = #{workProvinceIdList,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=TINYINT},
      have_children_list = #{haveChildrenList,jdbcType=VARCHAR},
      academic_list = #{academicList,jdbcType=VARCHAR},
      school_type_list = #{schoolTypeList,jdbcType=VARCHAR},
      company_type_list = #{companyTypeList,jdbcType=VARCHAR},
      industry_type_list = #{industryTypeList,jdbcType=VARCHAR},
      rank_type_list = #{rankTypeList,jdbcType=VARCHAR},
      year_income_list = #{yearIncomeList,jdbcType=VARCHAR},
      house_status_list = #{houseStatusList,jdbcType=VARCHAR},
      car_status = #{carStatus,jdbcType=TINYINT},
      asset_level_list = #{assetLevelList,jdbcType=VARCHAR},
      relation_with_parents_list = #{relationWithParentsList,jdbcType=VARCHAR},
      only_child_list = #{onlyChildList,jdbcType=VARCHAR},
      marry_plan_list = #{marryPlanList,jdbcType=VARCHAR},
      child_plan_list = #{childPlanList,jdbcType=VARCHAR},
      consume_attitude_list = #{consumeAttitudeList,jdbcType=VARCHAR},
      faith = #{faith,jdbcType=TINYINT},
      smok_drink = #{smokDrink,jdbcType=TINYINT},
      housework = #{housework,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>