<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rrx.cnuo.service.dao.BoardTurnMapper">
  <resultMap id="BaseResultMap" type="rrx.cnuo.service.po.BoardTurn">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="fuid" jdbcType="BIGINT" property="fuid" />
    <result column="use_card_num" jdbcType="TINYINT" property="useCardNum" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, fuid,use_card_num, message, create_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from board_turn
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="getCardUserCnt" parameterType="java.lang.Long" resultType="Integer">
    select ifnull(sum(use_card_num),0)
    from board_turn
    where uid = #{uid}
  </select>
  
  <select id="countByParam" parameterType="rrx.cnuo.service.po.BoardTurn" resultType="Integer">
    select count(1)
    from board_turn
    <where>
    	<if test="uid != null">
    		and uid = #{uid}
    	</if>
    	<if test="fuid != null">
    		and fuid = #{fuid}
    	</if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from board_turn
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertSelective" parameterType="rrx.cnuo.service.po.BoardTurn">
    insert into board_turn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="fuid != null">
        fuid,
      </if>
      <if test="useCardNum != null">
        use_card_num,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="fuid != null">
        #{fuid,jdbcType=BIGINT},
      </if>
      <if test="useCardNum != null">
        #{useCardNum,jdbcType=TINYINT},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="rrx.cnuo.service.po.BoardTurn">
    update board_turn
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="fuid != null">
        fuid = #{fuid,jdbcType=BIGINT},
      </if>
      <if test="useCardNum != null">
        use_card_num = #{useCardNum,jdbcType=TINYINT},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>