<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rrx.cnuo.service.dao.CreditDtLendSummaryMapper">
  <resultMap id="BaseResultMap" type="rrx.cnuo.service.po.CreditDtLendSummary">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="loan_success_rate" jdbcType="SMALLINT" property="loanSuccessRate" />
    <result column="loan_platform_count" jdbcType="SMALLINT" property="loanPlatformCount" />
    <result column="badness_platform_count" jdbcType="SMALLINT" property="badnessPlatformCount" />
    <result column="borrow_cnt" jdbcType="INTEGER" property="borrowCnt" />
    <result column="borrow_success_cnt" jdbcType="INTEGER" property="borrowSuccessCnt" />
    <result column="refuse_count" jdbcType="INTEGER" property="refuseCount" />
    <result column="overdue_cnt" jdbcType="INTEGER" property="overdueCnt" />
    <result column="overdue_amt" jdbcType="BIGINT" property="overdueAmt" />
    <result column="audit_count" jdbcType="INTEGER" property="auditCount" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, loan_success_rate, loan_platform_count, badness_platform_count, borrow_cnt, 
    borrow_success_cnt, refuse_count, overdue_cnt, overdue_amt, audit_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from credit_dt_lend_summary
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from credit_dt_lend_summary
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="rrx.cnuo.service.po.CreditDtLendSummary">
    insert into credit_dt_lend_summary (uid, loan_success_rate, loan_platform_count, 
      badness_platform_count, borrow_cnt, borrow_success_cnt, 
      refuse_count, overdue_cnt, overdue_amt, 
      audit_count)
    values (#{uid,jdbcType=BIGINT}, #{loanSuccessRate,jdbcType=SMALLINT}, #{loanPlatformCount,jdbcType=SMALLINT}, 
      #{badnessPlatformCount,jdbcType=SMALLINT}, #{borrowCnt,jdbcType=INTEGER}, #{borrowSuccessCnt,jdbcType=INTEGER}, 
      #{refuseCount,jdbcType=INTEGER}, #{overdueCnt,jdbcType=INTEGER}, #{overdueAmt,jdbcType=BIGINT}, 
      #{auditCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="rrx.cnuo.service.po.CreditDtLendSummary">
    insert into credit_dt_lend_summary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="loanSuccessRate != null">
        loan_success_rate,
      </if>
      <if test="loanPlatformCount != null">
        loan_platform_count,
      </if>
      <if test="badnessPlatformCount != null">
        badness_platform_count,
      </if>
      <if test="borrowCnt != null">
        borrow_cnt,
      </if>
      <if test="borrowSuccessCnt != null">
        borrow_success_cnt,
      </if>
      <if test="refuseCount != null">
        refuse_count,
      </if>
      <if test="overdueCnt != null">
        overdue_cnt,
      </if>
      <if test="overdueAmt != null">
        overdue_amt,
      </if>
      <if test="auditCount != null">
        audit_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="loanSuccessRate != null">
        #{loanSuccessRate,jdbcType=SMALLINT},
      </if>
      <if test="loanPlatformCount != null">
        #{loanPlatformCount,jdbcType=SMALLINT},
      </if>
      <if test="badnessPlatformCount != null">
        #{badnessPlatformCount,jdbcType=SMALLINT},
      </if>
      <if test="borrowCnt != null">
        #{borrowCnt,jdbcType=INTEGER},
      </if>
      <if test="borrowSuccessCnt != null">
        #{borrowSuccessCnt,jdbcType=INTEGER},
      </if>
      <if test="refuseCount != null">
        #{refuseCount,jdbcType=INTEGER},
      </if>
      <if test="overdueCnt != null">
        #{overdueCnt,jdbcType=INTEGER},
      </if>
      <if test="overdueAmt != null">
        #{overdueAmt,jdbcType=BIGINT},
      </if>
      <if test="auditCount != null">
        #{auditCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="rrx.cnuo.service.po.CreditDtLendSummary">
    update credit_dt_lend_summary
    <set>
      <if test="loanSuccessRate != null">
        loan_success_rate = #{loanSuccessRate,jdbcType=SMALLINT},
      </if>
      <if test="loanPlatformCount != null">
        loan_platform_count = #{loanPlatformCount,jdbcType=SMALLINT},
      </if>
      <if test="badnessPlatformCount != null">
        badness_platform_count = #{badnessPlatformCount,jdbcType=SMALLINT},
      </if>
      <if test="borrowCnt != null">
        borrow_cnt = #{borrowCnt,jdbcType=INTEGER},
      </if>
      <if test="borrowSuccessCnt != null">
        borrow_success_cnt = #{borrowSuccessCnt,jdbcType=INTEGER},
      </if>
      <if test="refuseCount != null">
        refuse_count = #{refuseCount,jdbcType=INTEGER},
      </if>
      <if test="overdueCnt != null">
        overdue_cnt = #{overdueCnt,jdbcType=INTEGER},
      </if>
      <if test="overdueAmt != null">
        overdue_amt = #{overdueAmt,jdbcType=BIGINT},
      </if>
      <if test="auditCount != null">
        audit_count = #{auditCount,jdbcType=INTEGER},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="rrx.cnuo.service.po.CreditDtLendSummary">
    update credit_dt_lend_summary
    set loan_success_rate = #{loanSuccessRate,jdbcType=SMALLINT},
      loan_platform_count = #{loanPlatformCount,jdbcType=SMALLINT},
      badness_platform_count = #{badnessPlatformCount,jdbcType=SMALLINT},
      borrow_cnt = #{borrowCnt,jdbcType=INTEGER},
      borrow_success_cnt = #{borrowSuccessCnt,jdbcType=INTEGER},
      refuse_count = #{refuseCount,jdbcType=INTEGER},
      overdue_cnt = #{overdueCnt,jdbcType=INTEGER},
      overdue_amt = #{overdueAmt,jdbcType=BIGINT},
      audit_count = #{auditCount,jdbcType=INTEGER}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>