<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rrx.cnuo.service.dao.StatisDaliyMapper">
  <resultMap id="BaseResultMap" type="rrx.cnuo.service.po.StatisDaliy">
    <id column="date" jdbcType="INTEGER" property="date" />
    <id column="name" jdbcType="SMALLINT" property="name" />
    <result column="value" jdbcType="BIGINT" property="value" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    date, name, value, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="rrx.cnuo.service.po.StatisDaliyKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statis_daliy
    where date = #{date,jdbcType=INTEGER}
      and name = #{name,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="rrx.cnuo.service.po.StatisDaliyKey">
    delete from statis_daliy
    where date = #{date,jdbcType=INTEGER}
      and name = #{name,jdbcType=SMALLINT}
  </delete>
  
  <insert id="insertSelective" parameterType="rrx.cnuo.service.po.StatisDaliy">
    insert into statis_daliy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        date,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=SMALLINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="rrx.cnuo.service.po.StatisDaliy">
    update statis_daliy
    <set>
      <if test="value != null">
        value = #{value,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where date = #{date,jdbcType=INTEGER}
      and name = #{name,jdbcType=SMALLINT}
  </update>
  
</mapper>